<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" style="font-family: Helvetica, Arial, sans-serif;">
        <head>
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1" />
          <title>TravelFlex.com | Complete Unsubscription</title>
        </head>
        <body bgcolor="#f7f7f7" style="font-family: Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; color: #676767; margin: 0;">
             
        <style type="text/css">
        @font-face { font-family: 'Oxygen' !important; font-style: normal !important; font-weight: 400 !important; src: local('Oxygen'), local('Oxygen-Regular'), url(http://fonts.gstatic.com/s/oxygen/v5/eAWT4YudG0otf3rlsJD6zOvvDin1pK8aKteLpeZ5c0A.woff) format('woff') !important; }
        @font-face { font-family: 'Oxygen' !important; font-style: normal !important; font-weight: 700 !important; src: local('Oxygen Bold'), local('Oxygen-Bold'), url(http://fonts.gstatic.com/s/oxygen/v5/yVHpdQrmTj9Kax1tmFSx2rO3LdcAZYWl9Si6vvxL-qU.woff) format('woff') !important; }
        </style>
        
            <table align="center" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse !important; min-width: 600px; font-family: Helvetica, Arial, sans-serif;">
              <tr style="font-family: Helvetica, Arial, sans-serif; background-color: white;" bgcolor="white">
                    <td style="vertical-align: middle; padding-bottom: 20px; padding-top: 20px; border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #777777; text-align: center; line-height: 21px; width: 290px; padding-left: 10px;" align="center" valign="middle">
                    <a href="http://travelflex.com" style="color: #00c6d7; font-size: 32px; font-weight: 700; font-family: Helvetica, Arial, sans-serif; text-decoration: none !important;">TravelFlex.com</a>
                </td>
              </tr>
              <tr style="font-family: Helvetica, Arial, sans-serif;">
                <td align="center" valign="top" width="100%" style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #777777; text-align: center; line-height: 21px; background-color: #f7f7f7; padding: 20px 0 30px;" bgcolor="#f7f7f7">
                  <center style="font-family: Helvetica, Arial, sans-serif;">
                    <table cellspacing="0" cellpadding="0" width="600" style="border-collapse: collapse !important; font-family: Helvetica, Arial, sans-serif;">
                      <tr style="font-family: Helvetica, Arial, sans-serif;">
                        <td style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 32px; color: #4d4d4d; text-align: center; line-height: normal; font-weight: 700; padding: 10px 0 0;" align="center">
                          Almost done!
                        </td>
                      </tr>
                      <tr style="font-family: Helvetica, Arial, sans-serif;">
                        <td style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #777777; text-align: center; line-height: 21px; width: 100% !important; padding: 10px 60px 0px;" align="center">
                          Hello {{ name|capitalize }}, We are really sorry you have decided to leave us. Please confirm your wish to unsubscribe by clicking the link below
                        </td>
                      </tr>
                      <tr style="font-family: Helvetica, Arial, sans-serif;">
                            <td style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #777777; text-align: center; line-height: 21px; width: 500px; padding: 20px 50px;" align="center">
                                <table cellspacing="0" cellpadding="0" width="100%" style="border-collapse: separate !important; font-family: Helvetica, Arial, sans-serif;">
                                  <tr style="font-family: Helvetica, Arial, sans-serif;">
                                    <td style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #777777; text-align: center; line-height: 21px; width: 498px; border-radius: 5px; background-color: #ffffff; padding: 60px 75px; border: 1px solid #cccccc;" align="center" bgcolor="#ffffff">
                                      <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse !important; font-family: Helvetica, Arial, sans-serif;">
                                        <tr style="font-family: Helvetica, Arial, sans-serif;">
                                          <td style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #777777; text-align: center; line-height: 21px; padding: 0 15px;" align="center">
                                            <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse !important; font-family: Helvetica, Arial, sans-serif;">
                                              <tr style="font-family: Helvetica, Arial, sans-serif;">
                                                <td style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #777777; text-align: center; line-height: 21px; vertical-align: top;" align="center" valign="top">
                                                  <img src="{{ absolute_url(asset('http://s3.amazonaws.com/swu-filepicker/0oYLLViRBKv7a0Lzh6vC_v3_03.jpg')) }}" alt="step one" style="max-width: 600px; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; font-family: Helvetica, Arial, sans-serif; width: 109px; height: 78px;" /><br style="font-family: Helvetica, Arial, sans-serif;" />
                                                  Opt out
                                                </td>
                                                <td style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #777777; text-align: center; line-height: 21px; vertical-align: top; font-weight: bold;" align="center" valign="top">
                                                  <img src="{{ absolute_url(asset('http://s3.amazonaws.com/swu-filepicker/YL3H3V5bRyGuy6pess9T_v33_04.jpg')) }}" alt="step one" style="max-width: 600px; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; font-family: Helvetica, Arial, sans-serif; width: 109px; height: 78px;" /><br style="font-family: Helvetica, Arial, sans-serif;" />
                                                  Confirm
                                                </td>
                                                <td style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #777777; text-align: center; line-height: 21px; vertical-align: top;" align="center" valign="top">
                                                  <img src="{{ absolute_url(asset('http://s3.amazonaws.com/swu-filepicker/YSTlgtgaTSa897tPTUhl_v3_05.jpg')) }}" alt="step one" style="max-width: 600px; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; font-family: Helvetica, Arial, sans-serif; width: 109px; height: 78px;" />
                                                  Good By
                                                </td>
                                              </tr>
                                            </table>
                                          </td>
                                        </tr>
                                        <tr style="font-family: Helvetica, Arial, sans-serif;">
                                          <td style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #777777; text-align: center; line-height: 21px; padding: 55px 0 0;" align="center">
                                              <div style="font-family: 'Cabin', Helvetica, Arial, sans-serif; color: #ffffff; display: inline-block; font-size: 14px; font-weight: regular; line-height: 45px; text-align: center; text-decoration: none; width: 155px; -webkit-text-size-adjust: none; background-color: #00c6d7;" align="center">
                                              <a href= "{{ url }}" style="font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none !important; font-weight: bold;"> Unsubscribe </a>
                                              </div>
                                          </td>
                                        </tr>
                                      </table>
                                    </td>
                                  </tr>
                                </table>
                            </td>
                        </tr>
                            <tr style="font-family: Helvetica, Arial, sans-serif;">
                                <td style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 10px; color: #777777; text-align: left; line-height: 125%; width: 100% !important; padding: 0px 50px;" align="left"> 
                                This email and any/all of its content is designated solely to {{ name|capitalize }} {{ lastname|capitalize }} on email address {{email}}. You are receiving this email as part of unsubscription process to TravelFlex.com. <br>
                                <strong>Please note:</strong> 
                                <ul>
                                    <li> no additional information is to be requested as part of unsubscription process </li>
                                    <li> although each unsubscription request is being handled instantly, it may take up to <strong> 10 working days </strong> to process. During this period you might still be getting promotion emails from us.</li>
                                </ul>
                                If you have received this email by mistake or do not wish to unsubscribe from TravelFlex.com, please delete this email.
                                </td>
                            </tr>
                    </table>
                  </center>
                </td>
              </tr>
              <tr style="font-family: Helvetica, Arial, sans-serif;">
                <td align="center" valign="top" width="100%" style="height: 100px; border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #777777; text-align: center; line-height: 21px; background-color: #f7f7f7;" bgcolor="#f7f7f7">
                  <center style="font-family: Helvetica, Arial, sans-serif;">
                    <table cellspacing="0" cellpadding="0" width="600" style="border-collapse: collapse !important; font-family: Helvetica, Arial, sans-serif;">
                      <tr style="font-family: Helvetica, Arial, sans-serif;">
                        <td style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #777777; text-align: center; line-height: 21px; padding: 10px 0;" align="center">
                          <strong style="font-family: Helvetica, Arial, sans-serif;">Mediaff Ltd</strong><br style="font-family: Helvetica, Arial, sans-serif;" />
                          Kemp House, 160 City Road <br style="font-family: Helvetica, Arial, sans-serif;" />
                          London, EC1V 2NX, United Kingdom <br style="font-family: Helvetica, Arial, sans-serif;" /><br style="font-family: Helvetica, Arial, sans-serif;" />
                        </td>
                      </tr>
                    </table>
                  </center>
                </td>
              </tr>
            </table>
        </body>
    </html>

