{% extends "base.html.twig" %}

{% block title %} TravelFlex | Getting you there {% endblock %}

{% block body %}
<header role="banner" id="fh5co-header">
    <div class="container">
        <!-- <div class="row"> -->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <!-- Mobile Toggle Menu Button -->
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                <a class="navbar-brand" href="{{ path('index') }}">TravelFlex</a> 
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="active" href="#" data-nav-section="home"><span>Home</span></a></li>
                    <li><a href="#" data-nav-section="work"><span>Work</span></a></li>
                    <li><a href="#" data-nav-section="testimonials"><span>Testimonials</span></a></li>
                    <li><a href="#" data-nav-section="services"><span>Services</span></a></li>
                    <li><a href="#" data-nav-section="contact"><span>Contact</span></a></li>
                    <li><a class="external" href="{{ path('terms') }}"><span>Terms</span></a></li>
                    <li><a class="external" href="{{ path('privacy') }}"><span>Privacy</span></a></li>
                    <li><a class="external" href="{{ path('unsubscribe') }}"><span>Unsubscribe</span></a></li>
                </ul>
            </div>
        </nav>
        <!-- </div> -->
    </div>
</header>
        
<section id="fh5co-home" data-section="home" style="background-image: url(../images/full_image_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-12" style="margin-bottom: 3em;">
                            <h1 class="to-animate">See the World with TravelFlex</h1>
                            <!--<h2 class="to-animate">Another free HTML5 bootstrap template by <a href="http://freehtml5.co/" target="_blank" title="Free HTML5 Bootstrap Templates">FREEHTML5.co</a> released under <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons 3.0</a></h2>-->
                        </div>
                        <div>
                            <div class="subscribe-form" >
                                <div class= "row">

                                {{ form_start(form1, {'attr': {'novalidate': 'novalidate'}}) }}

                                <div class="input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center margin-f">
                                    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                                    {{ form_label(form1.firstname) }}
                                    {{ form_widget(form1.firstname) }}
                                </div>
                                <div class="input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center margin-f">
                                    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                                    {{ form_label(form1.lastname) }}
                                    {{ form_widget(form1.lastname) }}
                                </div>	
                                <div class="input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center margin-f">
                                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                                    {{ form_label(form1.emailaddress) }}
                                    {{ form_widget(form1.emailaddress) }}
                                </div>
                                <div class="input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center margin-f">
                                    <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
                                    {{ form_label(form1.phone) }}
                                    {{ form_widget(form1.phone) }}
                                </div>
                                <div class="input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center margin-f dropdown">
                                    <span class="input-group-addon"><i class="fa fa-graduation-cap fa-fw"></i></span>
                                    {{ form_label(form1.age) }}
                                    {{ form_widget(form1.age) }}
                                </div>
                                <div class="picklist-style">
                                    <div class="checkbox input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                                        {% for field in form1.optindetails %}
                                            {{ form_widget(field.agreeterms) }}
                                            <lable> {{ 'I have read and agreed to ' }} <a href="{{ path('terms') }}" target="_blank"> {{ 'Terms & Conditions' }} </a> </lable>
                                            {{ form_row(field.agreeterms) }}
                                        {% endfor %}  
                                    </div>
                                    <div class="checkbox input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                                        {% for field in form1.optindetails %}
                                            {{ form_widget(field.agreeemails) }}
                                            <lable> {{ 'I want to get emails from TravelFlex.com' }} </lable>
                                            {{ form_row(field.agreeemails) }}
                                        {% endfor %} 
                                    </div>
                                    <div class="checkbox input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                                        {% for field in form1.optindetails %}
                                            {{ form_widget(field.agreepartners) }}
                                            <lable> {{ 'I want to get mails from Partners of TravelFlex.com' }} </lable>
                                            {{ form_row(field.agreepartners) }}
                                        {% endfor %}
                                    </div>
                                </div>
                                    {{ form_row(form1.submit, { 'label': 'Subscribe to join' }) }}

                                {{ form_end(form1) }}

                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="slant"></div>
</section>
<section>
     <div class="window-BG" id="alert">
        <div class="window">
            <div id="alert-title" class="win-img-text">{{ 'Please solve below errors'|trans }}:</div>
            <div id="alert-text" class="win-text">
                <div style="color: white; text-align: justify;">
                    {{ form_errors(form1) }}
                    {% for field in form1.optindetails %}
                            {{ form_errors(field) }}
                    {% endfor %}
                </div>    
            </div>
            <div class="window-close win-close-2">{{ 'Close'|trans }}</div>
        </div>
    </div>
</section>
<section id="fh5co-intro">
    <div class="container">
        <div class="row row-bottom-padded-lg">
            <div class="fh5co-block to-animate backimgone">
                <div class="overlay-darker"></div>
                <div class="overlay"></div>
                <div class="fh5co-text">
                    <i class="fh5co-intro-icon icon-plane"></i>
                    <h2>Join</h2>
                    <p>Subscribe and become part of exclusice club of people, that travel with style and luxury. It has never need that easy</p>
                    <p><a href="#" class="btn btn-primary">Subscribe</a></p>
                </div>
            </div>
            <div class="fh5co-block to-animate backimgtwo">
                <div class="overlay-darker"></div>
                <div class="overlay"></div>
                <div class="fh5co-text">
                    <i class="fh5co-intro-icon icon-suitcase"></i>
                    <h2>Pack</h2>
                    <p>No extra charges or fees. With Travel Flex and their partner offers all you have to do is to pack your bags</p>
                    <p><a href="#" class="btn btn-primary">Subscribe</a></p>
                </div>
            </div>
            <div class="fh5co-block to-animate backimgthree">
                <div class="overlay-darker"></div>
                <div class="overlay"></div>
                <div class="fh5co-text">
                    <i class="fh5co-intro-icon icon-globe"></i>
                    <h2>Enjoy</h2>
                    <p>Leave the trouble fpr us and our partners. All you will have to do is to enjoy the trip you have deserved so much</p>
                    <p><a href="#" class="btn btn-primary">Subscribe</a></p>
                </div>
            </div>
        </div>
        <div class="row watch-video text-center to-animate">
            <span>Watch the video</span>
            <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo btn-video"><i class="icon-play2"></i></a>
        </div>
    </div>
</section>

<section id="fh5co-work" data-section="work">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Travel Flex Offers</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>What type of offers are available</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-sm">
            <div class="col-md-4 col-sm-6 col-xxs-12">
                <a href="{{ asset('images/p1.jpg') }}" class="fh5co-project-item image-popup to-animate">
                    <img src="{{ asset('images/p1.jpg') }}" alt="Image" class="img-responsive">
                    <div class="fh5co-text">
                        <h2>Romantic Couple Destinations</h2>
                        <span>Paris, Milano, Roma - top romantic destinations are one step away only with Travel Flex</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xxs-12">
                <a href="{{ asset('images/p2.jpg') }}" class="fh5co-project-item image-popup to-animate">
                    <img src="{{ asset('images/p2.jpg') }}" alt="Image" class="img-responsive">
                    <div class="fh5co-text">
                        <h2>Ocean Cruises</h2>
                        <span>For those who is in love with the ocean, Travel Flex got wide variety cruise destinations</span>
                    </div>
                </a>
            </div>

            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-4 col-sm-6 col-xxs-12">
                <a href="{{ asset('images/p3.jpg') }}" class="fh5co-project-item image-popup to-animate">
                    <img src="{{ asset('images/p3.jpg') }}" alt="Image" class="img-responsive">
                    <div class="fh5co-text">
                        <h2>Business Travel</h2>
                        <span>Are you working and would love to combine business travel with with some time off.</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xxs-12">
                <a href="{{ asset('images/p8.jpg') }}" class="fh5co-project-item image-popup to-animate">
                    <img src="{{ asset('images/p8.jpg') }}" alt="Image" class="img-responsive">
                    <div class="fh5co-text">
                        <h2>Luxury Transport</h2>
                        <span>Once you got where you wanted, Travel Flex will help you get arround most suitable way.</span>
                    </div>
                </a>
            </div>

            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-4 col-sm-6 col-xxs-12">
                <a href="{{ asset('images/p5.jpg') }}" class="fh5co-project-item image-popup to-animate">
                    <img src="{{ asset('images/p5.jpg') }}" alt="Image" class="img-responsive">
                    <div class="fh5co-text">
                        <h2>Highest Level of Service</h2>
                        <span>Spend time not going througn travel deals, Travel Flex is targeted for revevant deals only!</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xxs-12">
                <a href="{{ asset('images/p4.jpg') }}" class="fh5co-project-item image-popup to-animate">
                    <img src="{{ asset('images/p4.jpg') }}" alt="Image" class="img-responsive">
                    <div class="fh5co-text">
                        <h2>Sightseeing tours</h2>
                        <span>Sightseeing tours are not for everyone. Travel Flex got you covered on this one as well.</span>
                    </div>
                </a>
            </div>

            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-4 col-sm-6 col-xxs-12">
                <a href="{{ asset('images/p7.jpg') }}" class="fh5co-project-item image-popup to-animate">
                    <img src="{{ asset('images/p7.jpg') }}" alt="Image" class="img-responsive">
                    <div class="fh5co-text">
                        <h2>Offers for Seniors</h2>
                        <span>Knowing that some of our senior subscribers might have some sp8ecific travel offer requirements, Travel Flex</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xxs-12">
                <a href="{{ asset('images/p6.jpg') }}" class="fh5co-project-item image-popup to-animate">
                    <img src="{{ asset('images/p6.jpg') }}" alt="Image" class="img-responsive">
                    <div class="fh5co-text">
                        <h2>Self-Guided Tours and Travel Assistance</h2>
                        <span>At some point in life everyone of us wanted to just pack a bag and go wonder arround the gloab without any specific plans.</span>
                    </div>
                </a>
            </div>

            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-4 col-sm-6 col-xxs-12">
                <a href="{{ asset('images/p9.jpg') }}" class="fh5co-project-item image-popup to-animate">
                    <img src="{{ asset('images/p9.jpg') }}" alt="Image" class="img-responsive">
                    <div class="fh5co-text">
                        <h2>Sales & Offers</h2>
                        <span>Knowing that travel budget is limited for most of us, Travel Flex is ready to offer affordable options </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="fh5co-testimonials" data-section="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Testimonials</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>This is what only some of our satisfied customers are talking about us</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box-testimony">
                    <blockquote class="to-animate-2">
                        <p>&ldquo;Travel Flex helped us out big time when me and my friends wanted to book last minute beach vacation. We found a perfect match in one of their regular email campaigns. Thanks alot to TravelFlex&rdquo;</p>
                    </blockquote>
                    <div class="author to-animate">
                        <figure><img src="{{ asset('images/person1.jpg') }}" alt="Person"></figure>
                        <p>
                        John P. Chicago, IL
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-testimony">
                    <blockquote class="to-animate-2">
                        <p>&ldquo;I neven though booking a ski trip for the whole famaly would be that easy. With limited budget and short time TravelFlex helped us making our Christmas vacation unforgetable and one of a kind&rdquo;</p>
                    </blockquote>
                    <div class="author to-animate">
                        <figure><img src="{{ asset('images/person2.jpg') }}" alt="Person"></figure>
                        <p>
                        Kate M. Virginia Beach, VA
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="box-testimony">
                    <blockquote class="to-animate-2">
                        <p>&ldquo;TravelFlex offers are always exactly what we are looking for. Even when we are not looking to travel anywhere at that specific moment. We found a whole bunch of interesting staff within their email campaigns that made our future travel pleasant&rdquo;</p>
                    </blockquote>
                    <div class="author to-animate">
                        <figure><img src="{{ asset('images/person3.jpg') }}" alt="Person"></figure>
                        <p>
                        Kim P. Los Angeles, CA
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="fh5co-services" data-section="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-left">
                <h2 class=" left-border to-animate">Services</h2>
                <div class="row">
                    <div class="col-md-12 subtext to-animate" style="text-align: justify">
                        <h3>Every once in a while every one of us have had a wish to go some place they have never been before, re-discover the world
                        arround us. But for some reason have not had right campanion, that would show the way. Someone, who will intorduce you
                        to the wonderfull world of travel and adventure. Knowing this as well as how important it is for you from time to time to get way from daily routine and enjoy time off with friends 
                        and family, we have created <a> Travel Flex </a>. We connet our subscribers to travel and vacation opportunities 
                        from top vendors and our srusted partners by means email campaings.<br>
                        By becoming our subscriber you are getting one step closer to vacation you have always dreamt of. Whether it's a place 
                        next to home or on the other side of the globe, <a> Travel Flex </a> will do its best to provide you with
                        best possible deals for world's most popular destinations.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-anchor"></i>
                <h3>Exotic Vacation Destination</h3>
                <p>Ultimate getaway spots, romantic vanues, popular resorts for all seasons - all of that and much more could be found in our email campaigns.</p>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-h-square"></i>
                <h3>Hotel & Flight Deals</h3>
                <p>We'll make sure you get where you going the most suitable way. Whether it is a flight, train or uber ride. We want to make sure your experience with us is always at 100%</p>
            </div>

            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-globe"></i>
                <h3>All arround the Globe</h3>
                <p>As your imagination grows, so do we. We are constantly improving coverage of our offers to facilitate the most demanding requirements.</p>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-fighter-jet"></i>
                <h3>From top vendors</h3>
                <p>In TravelFlex we are consistantly working on expanding our partner network to make sure our subscribers get first hand access to travel offers from top wendors! </p>
            </div>
        </div>
    </div>
</section>

<section id="fh5co-about" data-section="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Our Values</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>Below are only some of the "what we do and how we do it" for our dedicated customers and subscribers</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="fh5co-person text-center to-animate">
                    <figure><img src="{{ asset('images/person1.jpg') }}" alt="Image"></figure>
                    <h3>Dedication</h3>
                    <p>To our subscribers, partners and affiliates to make sure be bring the best added value though our marketing campaigns</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-person text-center to-animate">
                    <figure><img src="{{ asset('images/person2.jpg') }}" alt="Image"></figure>
                    <h3>Commitment</h3>
                    <p>To our goal of becoming primary source of best travel deal and advice for whoever looking for one</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-person text-center to-animate">
                    <figure><img src="{{ asset('images/person3.jpg') }}" alt="Image"></figure>
                    <h3>Value</h3>
                    <p>In everything that we do, to anyone we do business with through constant and persistent work</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="fh5co-counters" style="background-image: url(../images/full_image_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="fh5co-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center to-animate">
                <h2>Fun Facts</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fh5co-counter to-animate">
                    <i class="fh5co-counter-icon icon-briefcase to-animate-2"></i>
                    <span class="fh5co-counter-number js-counter" data-from="0" data-to="89" data-speed="5000" data-refresh-interval="50">89</span>
                    <span class="fh5co-counter-label">Partners</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fh5co-counter to-animate">
                    <i class="fh5co-counter-icon icon-code to-animate-2"></i>
                    <span class="fh5co-counter-number js-counter" data-from="0" data-to="2343409" data-speed="5000" data-refresh-interval="50">2343409</span>
                    <span class="fh5co-counter-label">Line of codes</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fh5co-counter to-animate">
                    <i class="fh5co-counter-icon icon-cup to-animate-2"></i>
                    <span class="fh5co-counter-number js-counter" data-from="0" data-to="1302" data-speed="5000" data-refresh-interval="50">1302</span>
                    <span class="fh5co-counter-label">Destinations</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fh5co-counter to-animate">
                    <i class="fh5co-counter-icon icon-people to-animate-2"></i>
                    <span class="fh5co-counter-number js-counter" data-from="0" data-to="2367891" data-speed="5000" data-refresh-interval="50">2367891</span>
                    <span class="fh5co-counter-label">Subscribers</span>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}