{% extends "base.html.twig" %}

{% block title %} TravelFlex | Privacy {% endblock %}

{% block body %}
    <header role="banner" id="fh5co-header">
    <div class="container">
        <!-- <div class="row"> -->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <!-- Mobile Toggle Menu Button -->
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                <a class="navbar-brand" href="{{ path('index') }}">TravelFlex</a> 
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="external" href="{{ path('index') }}" data-nav-section="home"><span>Home</span></a></li>
                    <li><a class="external" href="{{ path('index') }}#fh5co-work" data-nav-section="work"><span>Work</span></a></li>
                    <li><a class="external" href="{{ path('index') }}#fh5co-testimonials" data-nav-section="testimonials"><span>Testimonials</span></a></li>
                    <li><a class="external" href="{{ path('index') }}#fh5co-services" data-nav-section="services"><span>Services</span></a></li>
                    <li><a href="#" data-nav-section="contact"><span>Contact</span></a></li>
                    <li><a class="external" href="{{ path('terms') }}"><span>Terms</span></a></li>
                    <li><a class="external" href="{{ path('privacy') }}"><span>Privacy</span></a></li>
                    <li><a class="external" href="{{ path('unsubscribe') }}"><span>Unsubscribe</span></a></li>
                </ul>
            </div>
        </nav>
        <!-- </div> -->
    </div>
</header>
        
<section id="fh5co-home" data-section="home" style="background-image: url(../images/full_image_2.jpg);height: 10em;" data-stellar-background-ratio="0.5">
    <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-12" style="margin-bottom: 3em;">
                            <h1 class="to-animate">See the World with TravelFlex</h1>
                            <!--<h2 class="to-animate">Another free HTML5 bootstrap template by <a href="http://freehtml5.co/" target="_blank" title="Free HTML5 Bootstrap Templates">FREEHTML5.co</a> released under <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons 3.0</a></h2>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="slant"></div>
</section>
<section>
    <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 style="padding-bottom:10px;">General Terms & Conditions</h2>
                            <div style="text-align:justify;">
                                    <p>
                                        1.1 SmartEduPicks.com is a permission based marketing network which enables registered users to 
                                        gain access to advertising materials via email and sms messaging.
                                        All content on SmartEduPicks.com website, including the logo, articles, other text and graphics 
                                        are the intellectual property of SmartEduPicks.com and protected trademark, trade dress,                   
                                        patent, copyright and other laws. You may not reverse engineer, decompile, or disassemble any 
                                        of website parts except and only to the extent that such activity is expressly 
                                        permitted by applicable law notwithstanding this limitation.
                                    </p>
                                    <h4>Legal Age Requirement</h4>
                                    <p>    
                                            1.2 Any registered user must be 18 or older and legally able to be bound by a contract as a 
                                            condition to receiving the ability to become member of SmartEduPicks.com network.
                                    </p>
                                            1.3 By clicking the "I accept these terms and conditions" check-box on the registration 
                                            page you accept these Terms and Conditions as well as SmartEduPicks.com <a href="http://travelflex.com/privacy-policy">Privacy Policy</a>.
                                    </p>
                                    <h4>Policy Update</h4>
                                    <p> 
                                            1.4 We may modify Terms and Conditions of this Agreement. Any modification will not in any way
                                            compromise the privacy of your confidential information, gathered during process of registration and 
                                            stored within TravelFlex.com facilities. We will notify you of any material changes to this agreement by 
                                            posting a notice on this web site and in the application for a reasonable period of time after such changes 
                                            are made, that this agreement has been updated, and by changing the "Updated" date at the bottom of this agreement.
                                    <p>
                                            1.5 Your registration at TravelFlex.com and further usage of any tools and/or services provided subsequent to a change or 
                                            modification of this Agreement is your express indication that you agree to be bound by any change or modification in this Agreement.
                                            You must provide correct and complete personal and/or business information as requested by us in the registration process.
                                    </p>
                                    </p>

                                    <p>

                                    <h3 style="text-align:center; padding-top:7px; padding-bottom:5px;">General Rules and Guidelines</h3>
                                    <p>
                                       2.1 TravelFlex.com email and sms marketing service has been developed for the sole purpose of:
                                       <ul>
                                               <li> Enabling potential manufacturers/distributors of products/services to communicate with TravelFlex.com email subscribers 
                                                            that have opted-in (i.e. expressly given their permission) to receive email communication and sms communications from TravelFlex.com. </li>
                                               <li> Enabling subscribers/registered users/those given their consent to TravelFlex.com to get access to products/services 
                                                            advertised through email messages. </li>
                                       </ul>
                                    </p>
                                    <h4>CAN-SPAM Act Compliance</h4> 
                                    <p>
                                       2.2 <b> TravelFlex.com operates in compliance with CAN-SPAM Act </b> and will not use its product or service 
                                       for the purpose of sending unsolicited email, or "SPAM".
                                       <br>
                                       TravelFlex.com follows any posted guidelines regarding content and commercial activity limitations. 
                                       All email addresses that are used are solely derived from permission based list.
                                       </br>
                               </p>

                               <p>
                                       All e-mail messages must comply with the following (unless in the case of Force Majeure):
                                       <ul>
                                              <li>Are originated from a valid from address (this insures TravelFlex.com company name, address, city, state, zip code and phone number are clearly included.</li>
                                              <li>Each user has double ability to unsubscribe:
                                                    <ul>
                                                            <li>Via a link in each email communication received from TravelFlex.com.</li>
                                                            <li>Via an unsubscribe button on TravelFlex.com website.</li>
                                                    </ul>
                                              </li>
                                              <li>Each unsubscribe requests is being handled within 10 business days.</li>
                                              <li>Unsubscribed user/e-mail address will not receive any further marketing emails from TravelFlex.com.</li>
                                              <li>TravelFlex.com maintains a record of all unsubscribe requests, including the day/time the unsubscribe request was received and processed.</li>
                                      </ul>
                                    <br>
                                    <p>
                                       All e-mail messages must comply with all relevant federal and state laws and all content
                                       must not violate any federal, state law, code, or regulation, whether criminal or civil in nature.
                                    </p>

                                    </p>

                                    <p>

                                    <h3 style="text-align:center; padding-top:7px; padding-bottom:5px;">Special Email Provisions</h3>
                                    3.1 Adding New Members: TravelFlex.com will use a "single opt-in" or "double opt-in" (signup plus confirmation)
                                    subscription method for all new list members. For the purpose of this Agreement, a "double opt-in"
                                    method shall mean that when new member is added to subscription list, that email address shall
                                    not be activated unless and until the new member receives a single confirmation e-mail from TravelFlex.com
                                    requesting the member consent to be added to the list, and TravelFlex.com receives from the new member a
                                    confirmation action (such as a confirming e-mail from the new member email address) approving such
                                    action.
                                    </p>

                                    <p>

                                    <h3 style="text-align:center; padding-top:7px; padding-bottom:5px;">Regarding Functionality</h3>
                                    4.1 All content, tools, functions and services provided via TravelFlex.com are provided on an "as is" basis and TravelFlex.com
                                    disclaim any and all warranties, express or implied, including those warranties of merchantability,
                                    fitness for a particular purpose, title and non-infringement. Such disclaimers may be limited by the
                                    laws of subscriber's country/state, and if so limited, may not apply to or partially apply. No warranties of validity regarding any of
                                    the content provided by TravelFlex.com are made.
                                    </p>

                                    <p>

                                    <h3 style="text-align:center; padding-top:7px; padding-bottom:5px;">Force Majeure</h3>
                                    5.1 TravelFlex.com shall not be held liable for any delay or failure in performance due to Force Majeure, which shall
                                    mean acts of God, earthquake, labor disputes, changes in law, regulation or government policy, riots,
                                    war, fire, flood, insurrection, sabotage, embargo, epidemics, acts or omissions of vendors or suppliers,
                                    transportation difficulties, unavailability of interruption or delay in telecommunications or third
                                    party services (including DNS propagation), failure of third party software or hardware or inability to
                                    obtain raw materials, supplies, or power used in or equipment needed or other occurrences which are
                                    beyond either party's reasonable control.
                                    </p>

                                    <h3 style="text-align:center; padding-top:7px; padding-bottom:5px;">Disclaimer</h3>
                                    <p>
                                       6.1 To the extent permitted by law, neither TravelFlex.com nor any of our officers, directors, employees, representatives, subsidiaries, 
                                       affiliated companies, distributors, affiliate (distribution) partners, licensees, agents or others involved in creating, sponsoring, 
                                       promoting, or otherwise making available the site and its contents shall be liable for:
                                       <ul>
                                              <li> Any punitive, special, indirect or consequential loss or damages, any loss of production, loss of profit, 
                                                       loss of revenue, loss of contract, loss of or damage to goodwill or reputation, loss of claim. </li>
                                              <li> Any inaccuracy relating to the (descriptive) information (including prices, availability and ratings) of 
                                                       products as made available in TravelFlex.com commercial email massages.</li>
                                              <li> The services rendered or the products offered by the product manufactures/distributor or other business partners </li> 
                                              <li> Any (direct, indirect, consequential or punitive) damages, losses or costs suffered, incurred or paid by you, pursuant to, 
                                                       arising out of or in connection with the use, inability to use or delay of our website </li>
                                              <li> Any (personal) injury, death, property damage, or other (direct, indirect, special, consequential or punitive) damages, 
                                                       losses or costs suffered, incurred or paid by you, whether due to (legal) acts, errors, breaches, (gross) negligence, 
                                                       willful misconduct, omissions, non-performance, misrepresentations, tort or strict liability by or (wholly or partly) 
                                                       attributable to the product/service advertised or any of our other business partners (including any of their employees, 
                                                       directors, officers, agents, representatives or affiliated companies) whose products or service are (directly or indirectly) 
                                                       made available, offered or promoted on or through the website, including any (partial) cancellation, strike, force majeure or 
                                                       any other event beyond our control.</li>
                                       </ul>
                                    </p>

                                    <h3 style="text-align:center; padding-top:7px; padding-bottom:5px;">Miscellaneous</h3>
                                    <p>
                                       7.1 To the extent permitted by law, these Terms and Conditions and the provision of TravelFlex.com services shall be governed 
                                       by and construed in accordance with appropriate international laws and any dispute arising out of these Terms and Conditions 
                                       and our services will be dealt with accordingly.
                                    </p>
                                    <p> 
                                       The original English version of these Terms and Conditions may have been translated into other languages. 
                                       The translated version is a courtesy and office translation only and you cannot derive any rights from the translated version. 
                                       In the event of a dispute about the contents or interpretation of these terms and conditions or inconsistency or discrepancy 
                                       between the English version and any other language version of these terms and conditions, the English language version to 
                                       the extent permitted by law shall apply, prevail and be conclusive. The English version is available on our website 
                                       (by selecting the English language) or shall be sent to you upon your written request.
                                    </p>
                                    <p>
                                       If any provision of these Terms and Conditions is or becomes invalid, unenforceable or non-binding, you shall remain 
                                       bound by all other provisions hereof. In such event, such invalid provision shall nonetheless be enforced to the fullest 
                                       extent permitted by applicable law, and you will at least agree to accept a similar effect as the invalid, unenforceable or 
                                       non-binding provision, given the contents and purpose of these terms and conditions.
                                    </p>

                                    <h3 style="text-align:center; padding-top:7px; padding-bottom:5px;">Entire Agreement</h3>
                                    <p>
                                       8.1 This Agreement contains the full understanding between the parties and supersedes all prior
                                       representations or agreements, whether oral or written, with respect to such matters.
                                    </p>

                                    <h3 style="text-align:center; padding-top:7px; padding-bottom:5px;">Company Contact Details</h3>
                                    <p>
                                       9.1 Upon arising need, TravelFlex.com could be contacted under the following address:
                                           <br> Suite D0500,
                                           <br> 3rd Floor 207 Regent St. Mayfair,
                                           <br> London W1B 4ND, United Kingdom,
                                           <br> Email: support@smartedupics.com
                                       </p>
                                    </p>
                            </div>	
                </div>
            </div>
            <!-- /.row -->
        </div>
</section>
{% endblock %}