{% extends "base.html.twig" %}

{% block title %} TravelFlex | Getting you there {% endblock %}

{% block body %}
<header role="banner" id="fh5co-header">
    <div class="container">
        <!-- <div class="row"> -->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <!-- Mobile Toggle Menu Button -->
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                <a class="navbar-brand" href="{{ path('index') }}">TravelFlex</a> 
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="external" href="{{ path('index') }}" data-nav-section="home"><span>Home</span></a></li>
                    <li><a class="external" href="{{ path('index') }}#fh5co-work" data-nav-section="work"><span>Work</span></a></li>
                    <li><a class="external" href="{{ path('index') }}#fh5co-testimonials" data-nav-section="testimonials"><span>Testimonials</span></a></li>
                    <li><a class="external" href="{{ path('index') }}#fh5co-services" data-nav-section="services"><span>Services</span></a></li>
                    <li><a href="#" data-nav-section="contact"><span>Contact</span></a></li>
                    <li><a class="external" href="{{ path('terms') }}"><span>Terms</span></a></li>
                    <li><a class="external" href="{{ path('privacy') }}"><span>Privacy</span></a></li>
                    <li><a class="external active" href="{{ path('unsubscribe') }}"><span>Unsubscribe</span></a></li>
                </ul>
            </div>
        </nav>
        <!-- </div> -->
    </div>
</header>
        
<section id="fh5co-home" data-section="home" style="background-image: url(../images/full_image_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="gradient"></div>
        <div class="container">
            <div class="text-wrap">
                <div class="text-inner">
                    <div class="row">
                        <div class="col-md-12" style="margin-bottom: 3em;">
                            <h1 class="to-animate">See the World with TravelFlex</h1>
                            <h2 class="to-animate">Populate email below to initiate unsubscription process</h2>
                        </div>
                        <div>
                            <div class="subscribe-form" >
                                <div class= "row">

                                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                             
                                <div class="input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center margin-f">
                                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                                    {{ form_label(form.emailaddress) }}
                                    {{ form_widget(form.emailaddress) }}
                                </div>
                                
                                <div style="margin-top: 1.5em;">
                                    {{ form_row(form.submit, { 'label': 'Unsubscribe' }) }}
                                <div>
                                {{ form_end(form) }}

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 3em;">
                            <h4 class="to-animate" style="padding-top: 1em;">Please note: </h4>
                                <ul style="font-size: 15px; text-align: justify">
                                    <li> As part of unsubscription process, email will be sent on the above indicated email address requesting unsubscription confirmation </li>
                                    <li> Each unsubscription email is handled immediately, however up to 10 working days waiting period may be required in certain cases </li>
                                </ul>
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    <div class="slant"></div>
</section>
{% endblock %}
